Flask==0.8
Flask-Login==0.1.3
Flask-SQLAlchemy==0.16
Flask-WTF==0.6
Jinja2==2.6
Mako==0.7.0
MarkupSafe==0.15
SQLAlchemy==0.7.7
WTForms==1.0.1
Werkzeug==0.8.3
alembic==0.3.2
beautifulsoup4==4.1.3
matplotlib==1.3.x
networkx==1.7
nltk==2.0.3
numpy==1.6.2
tweepy==1.11
wsgiref==0.1.2
wx==1.0.0
