{% extends "layout.html" %}
{% block body %}
<style>
	.img-circle {
		height: 200px;
		width: 200px;
	}
</style>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="page-header">
            <h2>About Us</h2>
        </div>
        <ul class="professionals_list">
            <li>
            <div class="span3">
              <a href="http://twitter.com/sankethkatta" target="_blank">
                  <img class="img-circle" src="https://twimg0-a.akamaihd.net/profile_images/1211322023/sanketh-katta.jpg">
                  <h2>@sankethkatta</h2>
              </a>
            </div><!-- /.span3 -->
            </li>
            <li>
            <div class="span3">
              <a href="http://twitter.com/asalgado_" target="_blank">
                  <img class="img-circle" src="https://twimg0-a.akamaihd.net/profile_images/2628406242/f9d1ff42cd37d3a04e547d42a480b5f3.jpeg">
                  <h2>@asalgado_</h2>
              </a>
            </div><!-- /.span3 -->
            </li>
            <li>
            <div class="span3">
              <a href="http://twitter.com/theyellowpencil" target="_blank">
                  <img class="img-circle" src="https://twimg0-a.akamaihd.net/profile_images/1017517147/13564_169805248001_631588001_2806456_1078858_n.jpg">
                  <h2>@theyellowpencil</h2>
              </a>
            </div><!-- /.span3 -->
            </li>
            <li>
            <div class="span3">
              <a href="http://twitter.com/rturumella" target="_blank">
                  <img class="img-circle" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-snc6/262426_2253358099546_6844791_n.jpg">
                  <h2>@rturumella</h2>
              </a>
            </div><!-- /.span3 -->
            </li>
        </ul>
	</div>

      <div class="row-fluid">
        <div class="page-header">
            <h2>Goals</h2>
        </div>
		<ol>
			<li>Do a cosine similarity on content</li>
			<li>???</li>
			<li>Profit</li>
		</ol>
      </div><!--/row-->
</div>
</div>
</div>
{% endblock %}
