{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 offset3">
        <!-- This format is temporary, thus styles and js will be inline for now
             so that they can be easily removed later on 
             
             THIS WILL BE REPLACED WITH PROPER SCRIPTS AND STYLESHEETS
             -->
        <style>
            #tweetinput textarea{
                width: 100%;
            }
        </style>

        <form id="tweetinput">
        <fieldset>
            <legend>Enter Your Tweets</legend>
            <textarea id="tweetinput" name="query" placeholder="Enter Tweets Here"></textarea>
            <button type="submit" class="btn btn-primary btn-large">Analyze</button>
        </fieldset>
        </form>
        
        <table id="resultTable" class="table table-striped table-bordered">
            <thead>
                <th>Industry:</th>
                <th>User:</th>
                <th>Similarity:</th>
            </thead>
            <tbody>


            </tbody>
        </table>

        <script type="text/javascript">
            var button = $("#tweetinput button");
            var tbody = $("#resultTable tbody");

            $("#tweetinput").submit(function(e) {
                e.preventDefault();
                var query = $(this).serialize();
                button.attr("disabled", "disabled");
                button.html("Analyzing...");

                $.ajax({
                    url: "/analyze",
                    type: "POST",
                    dataType: "JSON",
                    data: query
                }).done(function(data) {
                   buildTable(data); 
                });
            });

            var buildTable = function(data) {
                button.removeAttr("disabled");
                button.html("Analyze");
                tbody.children().remove()
                for (i = 0; i < data.length; i++) {
                   tbody.append("<tr><td>"+data[i].industry+"</td><td>"+data[i].user+"</td><td>"+data[i].score+"</td></tr>");
                };
            };
        </script>
    </div><!--/span12-->
  </div><!--/row-->
</div><!--/container-->

{% endblock %}
