{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 offset1">
        <!-- This format is temporary, thus styles and js will be inline for now
             so that they can be easily removed later on 
             
             THIS WILL BE REPLACED WITH PROPER SCRIPTS AND STYLESHEETS
             -->
	<div id="flash" class="alert alert-info" style="text-align: center; display: none;">
		That twitter user has a protected timeline or does not exist
	</div>

        <form id="tweetinput" class="form-search"  style="text-align: center">
        <fieldset>
            <legend>Analyze Your Handle</legend>
<div class="input-prepend">
	<span class="add-on">@</span>
            <input name="query" type="text" data-provide="typeahead" data-items="10" data-source="{{ recommendations }}" placeholder="Enter Your Twitter Handle"></input>
</div>
            <button type="submit" class="btn btn-primary">Analyze</button>
        </fieldset>
        </form>
        

      <div class="row-fluid">
        <div class="page-header">
            <h2>Results</h2>
        </div>
	<img id="loading" style="margin: 0 auto; display: none;" src="{{ url_for('static', filename='img/loading.gif') }}" >
        <ul id="result_list" class="professionals_list"> </ul>
      </div><!--/row-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/analyze.js') }}"></script>
    </div><!--/span12-->
  </div><!--/row-->
</div><!--/container-->

{% endblock %}
