{% extends "layout.html" %}
{% block body %}

<div class="hero-unit">
<h1>Twitter Content Analyzer</h1>
<p>Get recommended top twitter users, based on their similarity to the content you consume.</p>
<p><a class="btn btn-primary btn-large" href="{{ url_for('analyze') }}">Get Started &raquo;</a></p>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="page-header">
            <h2>Top Users</h2>
        </div>
        <ul class="professionals_list">
        {% for user in rand_users %}
            <li>
            <div class="span3">
              <a href="http://twitter.com/{{ user }}" target="_blank">
                  <img class="img-circle" src="{{ image_urls[user] }}">
                  <h2>@{{ user }}</h2>
              </a>
            </div><!-- /.span3 -->
            </li>
        {% endfor %}
        </ul>
      </div><!--/row-->

    </div><!--/span12-->
  </div><!--/row-->
</div><!--/container-->

{% endblock %}
