#tagline {
text-shadow: 1px 1px #333;
}

.hero-unit {
	background-size: 100%;
    background: url("../img/twitteranalyzecover.jpg") no-repeat 0px -196px;
    color: #fbfbfb;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-background-size: cover; /*for webKit*/
        -moz-background-size: cover; /*Mozilla*/
        -o-background-size: cover; /*opera*/
        background-size: cover; /*generic*/
}

.navbar-inner {
	border-bottom: 0px;
}

.professionals_list {
    list-style: none;
}

.professionals_list .span3 {
    text-align: center;
    padding-top: 10px;

    /* Border Radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    /* Fancy Hover Transitions */
    -webkit-transition: background linear 0.3s;
    -moz-transition: background linear 0.3s;
    -ms-transition: background linear 0.3s;
    -o-transition: background linear 0.3s;
    transition: background linear 0.3s;
}

.professionals_list .span3:hover {
    background-color: #bfd6f4;
    
    /* Fancy Hover Transitions */
    -webkit-transition: background linear 0.3s;
    -moz-transition: background linear 0.3s;
    -ms-transition: background linear 0.3s;
    -o-transition: background linear 0.3s;
    transition: background linear 0.3s;
}

.professionals_list h2 {
    font-size: 20px;
}

.professionals_list a:hover {
    text-decoration: none;
}

.header {
    background: url("../img/header_image_blurred.png") 100% 100%;

}

.img-circle {
	margin-bottom: 5px;
}

iframe {
	display: block;
	margin-left: 20%;
}

#results_list #widget {
	text-align: center;
}
